<h>MiNi营养筛查表</h>
<p>1、过去3个月内有没有因为食欲不振、消化不良、咀嚼或吞咽困难而减少食量</p>
<ul>
<li>0=食量严重减少</li>
<li>1=食量中度减少</li>
<li>2=食量没减少</li>
</ul>

<p>2、过去3个月内体重下降的情况</p>
<ul>
<li>0=体重下降大于3公斤</li>
<li>1=不知道</li>
<li>2=体重下降1-3公斤</li>
<li>3=体重没下降</li>
</ul>

<p>3、活力能力</p>
<ul>
<li>0=需长期卧床或坐轮椅</li>
<li>1=可以下床或离开轮椅，但不能外出</li>
<li>2=可以出去</li>
</ul>

<p>4、过去3个月内有没有受到心理创伤或患上急性疾病</p>
<ul>
<li>0=有 </li>
<li> 2=没有</li>
</ul>

<p>5.	精神问题</p>
<ul>
<li>0=严重痴呆或抑郁</li>
<li>1=轻度痴呆</li>
<li>2=没有精神心理问题</li>
</ul>

<p>6.	身体质量指数</p>
<ul>
<li>0= BMI<19</li>
<li>1= BMI  19< BMI<21</li>
<li>2= BMI  21< BMI<23</li>
<li>3= BMI≥23</li>
</ul>

<ul>
<li></li>
<li></li>
<li></li>
</ul>


<ul>
<li></li>
<li></li>
<li></li>
</ul>