.editBox{
    position: relative;
    height: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;  
    border:thin solid lightgray;
    margin-left:20px;
}

/* template list tree */
template-list-tree li .expanded {
	padding: 1px 5px;
	height: 12px;
	background-image: url(img/arrow_expanded.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

template-list-tree li .collapsed {
	padding: 1px 5px;
	height: 12px;
	background-image: url(img/arrow_collapsed_white.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
template-list-tree {
	/* prevent user selection */
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/* default */
	font-size: 13px;
	color: #555;
	text-decoration: none;
}

template-list-tree ul {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	overflow: hidden;
}

template-list-tree li {
	position: relative;
	padding: 5px 0 0 20px;
	line-height: 20px;
	font-size: 15px;
}
template-list-tree li i, archetype-list-tree li span {
	cursor: pointer;
}

template-list-tree li .selected {
	background-color: #aaddff;
	font-weight: bold;
}
ul,li
{
    list-style:none;
    }
 li .DV_TEXT {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/text.png);
	background-repeat: no-repeat;
}
 li .DV_QUANTITY {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/quantity.png);
	background-repeat: no-repeat;
}
 li .DV_ORDINAL {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/ordinal.png);
	background-repeat: no-repeat;
}
 li .DV_BOOLEAN {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/boolean.png);
	background-repeat: no-repeat;
}
 li .DV_DATE_TIME {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/datetime.png);
	background-repeat: no-repeat;
}
 li .DV_COUNT {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/count.png);
	background-repeat: no-repeat;
}
 li .CODE_PHRASE {/*no picture*/
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/text.png);
	background-repeat: no-repeat;
}
 li .DV_CODED_TEXT {/*no picture*/
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/text.png);
	background-repeat: no-repeat;
}
 li .DV_DURATION {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/duration.png);
	background-repeat: no-repeat;
}
 li .DV_DURATION {
    padding: 0 10px;
    height: 16px;
    background-image: url(img/datatype/duration.png);
    background-repeat: no-repeat;
}
 li .DV_PROPORTION {
    padding: 0 10px;
    height: 16px;
    background-image: url(img/datatype/ratio.png);
    background-repeat: no-repeat;
}
 li .COMPOSITION {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/composition.png);
	background-repeat: no-repeat;
}
 li .OBSERVATION {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/observation.png);
	background-repeat: no-repeat;
}
 li .EVENT {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/pointintime.png);
	background-repeat: no-repeat;
}
 li .CLUSTER {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/cluster.png);
	background-repeat: no-repeat;
}
 li .HISTORY {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/history.png);
	background-repeat: no-repeat;
}
 li .SECTION {
	padding: 0 10px;
	height: 16px;
	background-image: url(img/datatype/section.png);
	background-repeat: no-repeat;
}
 li .INSTRUCTION {
    padding: 0 10px;
    height: 16px;
    background-image: url(img/datatype/instruction.png);
    background-repeat: no-repeat;
}
 li .ACTIVITY {
    padding: 0 10px;
    height: 16px;
    background-image: url(img/datatype/activity.png);
    background-repeat: no-repeat;
}

.listBox {
	margin-top: 30px;
}

.style{
    float:left;
    width:120px;
    height:190px;
    border:thin solid lightgray;
}
.Control {
    float:left;
    width:120px;
    height:190px;
    border:thin solid lightgray;
}
.Control a{
    display: block;
}
.controlItem{
    width : 50px;
    height:50px;
    text-align:center;
    float: left;
}
.controlItem img{
    width : 100%;
}
#editArea li {
    list-style: none;
}

#menu{position:absolute;top:-9999px;left:-9999px;width:100px;border-radius:3px;list-style-type:none;border:1px solid #8f8f8f;padding:2px;background:#fff;}
#menu li{position:relative;height:24px;padding-left:24px;background:#eaead7;vertical-align:top;}
#menu li a{display:block;color:#333;background:#fff;padding-left:5px;text-decoration:none;}
#menu li.active{background:#999;}
#menu li.active a{color:#fff;background:#8f8f8f;}
#menu li em{position:absolute;top:0;left:0;width:24px;height:24px;background:url(/jscss/demoimg/201211/ico.png) no-repeat;}
#menu li em.cur{background-position:0 0;}
#menu li em.copy{background-position:0 -24px;}
#menu li em.paste{background-position:0 -48px;}

#contextmenu-node{
    position: absolute;
    top: 20px;
    left:50px;
}